.dim {
	width: 100%;
	height: 100%;

	background: rgba(0, 0, 0, 0.75);

	animation-name: dimmed;
	animation-duration: 0.5s;
}

@keyframes dimmed {
  0% {
		background: rgba(0, 0, 0, 0.0);
  }
  
  100% {
		background: rgba(0, 0, 0, 0.75);
 }
}